@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  font-family: "Rubik";
  background-color: hsl(270, 20%, 96%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    text-decoration: none;
    font: inherit;
    color: inherit;
  }
  
  article,
  figure,
  footer,
  header,
  menu,
  nav,
  section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  body * {
    max-width: 100%;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  input:focus {
    outline: none;
  }

  .visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  */ * {
    font: inherit;
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
  }
  
  html,
  body {
    height: 100%;
    text-rendering: optimizeSpeed;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
    padding: 0;
  }
  
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

header{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logo-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 23rem;
}

.logo{
  margin-top: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 28px;
  align-self: center;
}

.settings{
  margin-top: 1rem;
  font-weight: 500;
  padding-right: 1rem;
}

.navbar-wrapper{
  width: 100%;
  border-top: .2px solid rgb(210, 204, 204);
  border-bottom: .2px solid rgb(210, 204, 204);
  display: flex;
  justify-content: center;
}

.nav-bar{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  align-items: center;
}

.navbar-items{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.social-list {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.social-icon {
  width: 1.5rem !important;
  aspect-ratio: 1 !important;
  fill: hsl(0, 0%, 4%);

}

.social-list a:is(:hover, :focus) .social-icon {
  fill: rgb(225, 154, 195);
}

.footer-wrapper{
  width: 100%;
  border-top: .2px solid rgb(210, 204, 204);
  border-bottom: .2px solid rgb(210, 204, 204);
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.logo-footer{
  margin-top: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 16px;
  align-self: center;
}