{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/app.js'%}" defer></script>
    <title>{%if title%} {{title}}{%else%} NarrativeHub {%endif%}</title>
  </head>
  <body>
  
    <header>
          <div class="logo-section">
            {%if request.user.is_authenticated %}
                  <a class="logo" href="{%url 'storyposts'%}">NarrativeHub</a>
                  <div class="settings">
                  <span>Hi {{ request.user.username | title}}</span> 
                  <a href="{%url 'create-story'%}">New Story</a>
                  <a href="{%url 'logout'%}">Logout</a>
            {%else%}
                  <a href="{%url 'login'%}">Login</a>
                  <a href="{%url 'register'%}">Register</a>
            {%endif%}
          </div>
          </div>

          <div class="navbar-wrapper">
          <div class="nav-bar">
            <div class="navbar-items">
            <a href="{% url 'storyposts' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="#">On sale</a>
          </div>
          </div>
        </div>
    </header>
    <main>
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags}}" {% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %} 


          {%block content%} 
          {% endblock %}
    </main>

    <footer class="footer-wrapper">
      <div class="footer">
      <div>
        <a class="logo-footer" href="{%url 'storyposts'%}">NarrativeHub</a>
      </div>
      <div class="socials">
        <ul class="social-list" role="list" aria-label="social-links">
          <li>
            <a aria-label="facebook" href="#">
              <svg class="social-icon">
                <use  xlink:href="static/images/social.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="youtube">
              <svg class="social-icon">
                <use xlink:href="static/images/social.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="twitter">
              <svg class="social-icon">
                <use xlink:href="static/images/social.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="pinterest">
              <svg class="social-icon">
                <use xlink:href="static/images/social.svg#icon-pinterest"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </footer>

  </body>
</html>
