{%extends 'base.html'%} 
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main_story.css' %}">
<script src="{% static 'js/app.js'%}" defer></script>

{%block content%}
<div class="full-story-content">
    <h2>{{ story.title }}</h2>
    <p>{{ story.content }}</p>
</div>

<!-- comments -->
<div class="comments">
    {% for comment in story.comments.all %}
             <strong>
                 {{ comment.author }} - {{ comment.created_at}}
             </strong><br>
             {{ comment.comment_section }}
             {% if comment.author == request.user%}
             <a href="{% url 'delete-comment' comment.id %}">Delete</a>
             {% endif %}
             {% endfor %} 

             {% if request.user.is_authenticated and request.user == post.author %}
             <p>
                   <a href="{% url 'edit-story' story.id %}">Edit</a>
                   <a href="{% url 'delete-story' story.id %}">Delete</a>
             </p>
             {% endif %}
</div>
{% endblock content %}