{%extends 'base.html'%} 
{% load static %}
{% load custom_filters%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/app.js'%}" defer></script>
{%block content%}

  <div class="main-section">
  {% for story in stories%}
  <div class="flex">
  <div class="cover-picture">
        <img src="{{story.cover_picture.url}}" />
    </div>
    <div class="story-details">
        <div class="story-title">
            <p>{{story.author| title}}</p><span>~~</span>
            <p>{{ story.created_at|timesince|upto:',' }} ago</p>
    </div>

        <h2>
            <a href="{% url 'full-story' story.slug %}">{{ story.title }}</a>
        </h2>

        <p class="content">{{story.preview_content}}</p>

        <div class="icons">
        <p>Likes:
            <span id="likes-count-{{ story.id }}"> {{ story.likes.count }}</span>
        </p>
        {% if user.is_authenticated %}
        <button class="like-button" onclick="likeStory()">Like</button>
        {% else %}
            <button class="like-button disabled">Like</button>
        {% endif %}

        <p>comments</p>
        {% if not story.comments.all %}
             No Comments Yet <a href="{% url 'add-comment' story.id %}">
                 Add a comment
             </a>
        {% else %}
             {% for comment in story.comments.all %}
             <strong>
                 {{ comment.author }} - {{ comment.created_at}}
             </strong><br>
             {{ comment.comment_section }}
             {% if comment.author == request.user%}
             <a href="{% url 'delete-comment' comment.id %}">Delete</a>
             {% endif %}
             {% endfor %} 
             <a href="{% url 'add-comment' story.id %}">
                Add a comment
            </a>
        {% endif %}

        {% if request.user.is_authenticated and request.user == post.author %}
        <p>
              <a href="{% url 'edit-story' story.id %}">Edit</a>
              <a href="{% url 'delete-story' story.id %}">Delete</a>
        </p>
        {% endif %}
    </div>
    </div>
</div>
    {% endfor %}    
 
</div>
  
  
{%endblock content%}
