{%extends 'base.html'%} 

{%block content%}

  <h1>My Stories</h1>
  {% for story in stories%}
        <h2>{{story.title}}</h2>
        <img src="{{story.cover_picture.url}}" />
        <p>Posted on {{story.created_at | date:"M d, Y"}} by {{story.author | title}}</p>
        <p>{{story.content}}</p>

        <h2>comments</h2>
        {% if not story.comments.all %}
             No Comments Yet <a href="{% url 'add-comment' story.id %}">
                 Add a comment
             </a>
        {% else %}
             {% for comment in story.comments.all %}
             <strong>
                 {{ comment.author }} - {{ comment.created_at}}
             </strong><br>
             {{ comment.comment_section }}
             
             {% endfor %} 
             <a href="{% url 'add-comment' story.id %}">
                Add a comment
            </a>
        {% endif %}

        {% if request.user.is_authenticated and request.user == post.author %}
        <p>
              <a href="{% url 'edit-story' story.id %}">Edit</a>
              <a href="{% url 'delete-story' story.id %}">Delete</a>
        </p>
        {% endif %}
    {% endfor %}    
 

  
  
{%endblock content%}
