{%extends 'base.html'%} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/app.js'%}" defer></script>
{%block content%}

  
  {% for story in stories%}
        <h2>{{story.title}}</h2>
        <img src="{{story.cover_picture.url}}" />
        <p>Posted on {{story.created_at | date:"M d, Y"}} by {{story.author | title}}</p>
        <p>{{story.content}}</p>

        <p>Likes: {{ story.likes.count }}</p>
        {% if request.user.is_authenticated %}
            {% if request.user in story.liked_by.all %}
                <button class="like-button liked">Unlike</button>
            {% else %}
                <button>like</button>
            {% endif %}
        {% else %}
            <button>like</button>
        {% endif %}

        <h2>comments</h2>
        {% if not story.comments.all %}
             No Comments Yet <a href="{% url 'add-comment' story.id %}">
                 Add a comment
             </a>
        {% else %}
             {% for comment in story.comments.all %}
             <strong>
                 {{ comment.author }} - {{ comment.created_at}}
             </strong><br>
             {{ comment.comment_section }}
             {% if comment.author == request.user%}
             <a href="{% url 'delete-comment' comment.id %}">Delete</a>
             {% endif %}
             {% endfor %} 
             <a href="{% url 'add-comment' story.id %}">
                Add a comment
            </a>
        {% endif %}

        {% if request.user.is_authenticated and request.user == post.author %}
        <p>
              <a href="{% url 'edit-story' story.id %}">Edit</a>
              <a href="{% url 'delete-story' story.id %}">Delete</a>
        </p>
        {% endif %}
    {% endfor %}    
 

  
  
{%endblock content%}
